@import url('https://fonts.googleapis.com/css2?family=Prosto+One&family=Source+Sans+Pro&display=swap');

$page-margin: 20px;
$color-main: #333;
$color-second: #ddd;
$color-third: #464eb9;


@mixin boxes-style{
    border-radius: .5rem;
    border: none;
}


*{
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}

h1, h2, h3, h4, h5, h6{
    margin: 0;
    font-family: 'Prosto One', cursive;
}

.error{
    transition: border-color .5s;
    border: 2px solid red !important;
}

body{
    height: 100vh;
    width: 100vw;
    margin: 0;
    display: grid;
    grid-template: auto 1fr auto / auto 5fr

}

.hidden{
    display: none !important;
}

header{
    grid-column: 1 / -1;
    background-color: $color-main;
    padding: $page-margin;
    display: grid;
    align-content: center;
    gap: $page-margin;
    color: white;

}

nav{
    width: 250px;
    background-color: $color-second;
    padding: $page-margin;

    #default-projects{
        display: grid;
        gap: $page-margin;
    }

    #user-projects{
        display: grid;
        margin-top: $page-margin;
        gap: $page-margin;
    }
}

button{
    display: flex;
    align-items: center;
    border-radius: .5rem;
    border: none;
    font-size: 1rem;

    .material-symbols-outlined{
        margin: 5px;
    }

}

button:hover{
    transition: background-color .5s, color .5s;
    background-color: $color-main;
    color: white;
}

#container{
    margin: 20px 20%;

    h2{
        margin-bottom: $page-margin;
    }

    button{
        width: 100%;
    }
}

#container-content{
    display: grid;
    width: 100%;
    margin-top: $page-margin;
    gap: $page-margin;

    div{
        @include boxes-style;
        background-color: $color-second;
        height: 35px;
        display: flex;
        align-items: center;
        padding: 5px;

        input{
            margin: 10px;
        }
    }

    div:hover{
        transition: background-color .5s, color .5s;
        background-color: $color-main;
        color: white;
    }
}

button#task-add{
    border: 2px solid $color-main;
}

#task-add-form{
    height: 300px;
    @include boxes-style();
    background-color: $color-second;
    padding: $page-margin;
    display: grid;
    grid-template: 20% auto auto 20% / 3fr 1fr;
    gap: $page-margin;

    input,
    textarea,
    select{
        @include boxes-style();
        padding: 10px;
    }

    input#task-name{
        grid-column: 1 / -1;
    }
    
    textarea#task-description{
        grid-row: 2 / 4;
        resize: none;
    }

    ::placeholder,
    input#task-date,
    select{
        color: $color-main;
    }

    button#form-submit{
        grid-column: 1 / -1;
        width: 80%;
        justify-content: center;
        justify-self: center;
        background-color: #333;
        color: white;
        transition: background-color .5s, font-size .5s;


    }
    #form-submit:hover{
        transition: background-color .5s, font-size .5s;
        background-color: green;
        font-size: 1.2rem;
    }
    

}



footer{
    grid-column: 1 / -1;
    background-color: $color-main;
    color: white;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    #motto{
        font-style: oblique;
    }
}